.quiz,
.summary {
  display: none;
}

.quiz ul {
  list-style: none;
  padding: 0;
}

.quiz li {
  cursor: pointer;
}

.selected {
  background-color: yellow;
}

/* .introduction {
  background-color: white;
  padding-top: 0;
  margin: 0;
}

.questions {
  background-color: white;
  padding-top: 0;
  margin: 0;
}

.rightAnswer {
  background-color: white;
  padding-top: 0;
  margin: 0;
}

.wrongAnswer {
  background-color: white;
  padding-top: 0;
  margin: 0;
}

.results {
  background-color: white;
  padding-top: 0;
  margin: 0;
} */
